[Desktop Entry]
Name=gMakeself
Comment=Simple frontend for makeself
Exec=gmakeself
Icon=gmakeself
Terminal=false
Type=Application
Categories=Development;Utility;
